@import "./../../scss/variables.scss";

.header {
  height: 100vh;
  padding-left: 67px;
  padding-right: 67px;
  display: flex;
  justify-content: center;
  background-image: url("./images/Background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  
}

.header__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__link {
  text-decoration: none;
}

.header__scroll {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: $font-color-white;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-bottom: 52px;
  background-image: url("./images/DoubleArrow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 55px;

  /*** ANIMATION ***/
  
  animation-name: pop-up;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes pop-up {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.header__nav-button {
  display: none;
}


/*** MEDIA ***/

@media screen and (max-width: $desktop-width) {
  .header__scroll {
    display: none;
  }
}

@media screen and (max-width: $tablet-width) {
  .header {
    padding-left: 44px;
    padding-right: 44px;
    height: auto;
    background-position: center -170px;
  }

  .header__inner {
    align-items: flex-start;
  }

  .header__nav-button {
    padding: 0;
    color: $font-color-white;
    display: block;
    background-color: transparent;
    border: none;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    margin-bottom: 200px;
    margin-top: 35px;

    &:hover,
    &:active {
      outline: none;
      border-bottom: $border;
    }
  }
}
