@import './scss/variables.scss';


body {
  min-width: 320px;
  padding: 0;
  margin: 0;

  font-family: $open-sans;
  font-size: 24px;
 
  color: $font-color-black;
  font-style: normal;

  background-color: $background;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
