@import "./../../scss/variables.scss";

.scroll {
  height: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.scroll__link {
  display: block;
  text-align: center;
  cursor: pointer;
  padding-bottom: 56px;
  background-image: url("./image/DoubleArrowGrey.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.scroll__text {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-family: $open-sans;
  color: $font-color-grey;
  &:hover {
    border-bottom: $border;
  }
}

/*** MEDIA ***/

@media screen and (max-width: $desktop-width) {
  .scroll {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: $tablet-width) {
  .scroll {
    display: none;
  }
}