
@font-face {
    font-family: "Nexa Light";
    src: local("Nexa"), url("../fonts/nexalight.woff2") format("woff2"),
         url("../fonts/nexalight.woff") format("woff");
    font-weight: 300;
    font-display: swap;
  }
