@import "./../../scss/variables.scss";

.about {
  padding-left: 67px;
  padding-right: 67px;
  display: flex;
  flex-direction: column;
}

.about-me__image {
  width: 770px;
  height: 700px;
}

.about-me__photo {
  width: 50%;
  padding-right: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.about-me__inner {
  display: flex;
  margin-bottom: 80px;
}

.about-me__description {
  padding-top: 51px;
  padding-left: 26px;
  width: 50%;
  font-family: $open-sans;
  font-weight: 400;
}

.about-me__title {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 120px;
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-bottom: 31px;
}

.about-me__text {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 50px;
  font-family: $open-sans;
  font-weight: 300;
  letter-spacing: 0.025em;
  margin-bottom: 25px;
  max-width: 676px;
}

.about-me__name {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 50px;
  margin-top: 44px;
}


/***  MEDIA ***/

@media screen and (max-width: $desktop-width) {
  .about {
    padding-left: 0;
    padding-right: 0;
  }

  .about-me__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .about-me__photo {
    width: 100%;
    margin: 0;
    justify-content: center;
    overflow: hidden;
  }

  .about-me__description {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-me__title {
    width: 676px;
  }

  .about-me__name {
    width: 100%;
    width: 676px;
    margin-top: 20px;
  }
}

@media screen and (max-width: $tablet-width) {
  .about-me__description {
    width: 100%;
    padding-top: 35px;
    padding-left: 31px;
    padding-right: 24px;
  }

  .about-me__title {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 0;
    width: 100%;
  }

  .about-me__text {
    font-size: 18px;
    margin-bottom: 30px;

    max-width: 100%;

    &--last {
      display: none;
    }
  }

  .about-me__photo {
    height: 696px;
  }

  .about-me__name {
    width: 100%;
    margin-top: 0;
    font-size: 18px;
  }
}
